<div class="box">
    <div [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">

    <h4 [ngStyle]="{color:getColor()}">Appareil:{{appareilName}} -- Statut: {{getStatus()}} </h4>
    <a [routerLink]="[id]">Détails</a>

    <button class="btn btn-sm btn-success"
            *ngIf="getStatus() === 'éteint'"
            (click)="onSwitchOn()">Allumer</button>
    <button class="btn btn-sm btn-danger"
            *ngIf="getStatus() === 'allumé'"
            (click)="onSwitchOff()">Eteindre</button>

    </div>
</div>




